@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #030303;
  text-decoration: none;
  list-style: none;
}

html{
  font-size: 62.5%;
/* background: radial-gradient(ellipse at center, #ff000099, #00ff00, #0000ff8b,#ff0000,#00ff0086, #0000fffe); */

}

.App{
  width: 100vw;
  height: 100vh;
  display: flex;  
  align-items: center;
  justify-content: center;
  
  padding: 2rem;  
}

.wrapper{
  width: 93.75rem;
  height: 47.5rem;
  padding: 3.125rem;
  
  background-color: #ece0d02c;

  border-radius: 2.5rem;
  box-shadow: 0rem 0rem 2.5rem rgba(0, 0, 0, 0.5);

  display: flex;
 }
/* category csrin styling */
.tasks{
  width: 28%;
  height: 100%;
  border-right: .2rem solid #03030312;
  cursor: pointer; 
  padding-top: 3rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.7rem;

}
.collor{
  width: 13px;
   height: 13px;
   border-radius:50%;
   cursor:pointer;
   border:none;
}
.color-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.tasks-title__but{

  font-size: 2.5rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  background-color: inherit;
transition: .3s;
}
.tasks-title__but:hover{
  font-size: 2.55rem;
  font-weight: 700;
 
text-shadow: 0rem 0rem .625rem gray;
}

.tasks-category{
  display: flex;
  gap: .625rem;
}
.tasks-category__text{
  border: none;
  background-color: inherit;
  font-size: 2rem;
  transition: .5s ;
}
.tasks-category__text:hover{
 
  font-weight: 700;
  font-size: 2.2rem;
  text-shadow: 0rem 0rem .625rem gray;
}
.category-del{
  cursor: pointer; 
  width: 2.25rem;
  height: 1.875rem;
/* padding: 13px 7px ; */
border: none;
background-color: inherit;
/* color: #90262652;
text-shadow:0px 0px 8px  #d00c0cfa; */
background-image: url(../public/image/delete.png);
background-repeat: no-repeat;
}
/* .bg{
text-shadow: 0rem 0rem .625rem red;
} */

.tasks__but{
  color: #ABABAB;
  border: none;
  background-color: inherit;
  font-size: 1.5rem;
}
.tasks-form{
  position: relative;
}
.position-input{
  position: absolute;
  right: 1rem;
  top: 0.6rem;
}
.tasks-but__inp{
  width: fit-content;
  border-radius: 0.3125rem;
  font-weight: 600;
  border: none;
  padding: 0.5125rem 0.825rem;
  color: rgba(50, 50, 50, 0.7);
  background-color: #ababab56;
  margin-top: .45rem;
  cursor: pointer;
  
}
.tasks-but__inp:focus{
  outline: none;
}
.tasks-but__inp::placeholder{
  color: rgba(109, 107, 107, 0.554);
}

/* main scrin styling */
.tasks-text{
  width: 75%;
  padding: 2.875rem;
 

}

.task-text__category{
  font-size: 2.5rem;
  font-weight: 700;
  
}
.task-text__form{
  position:absolute;
}
.tasks-text__input{
  width: 85%;
  cursor: pointer; 
  color: rgba(50, 50, 50, 0.7);

  border: none;
  background-color: #ababab56;
  font-weight: 600;
  padding:.5125rem .825rem ;
  border-radius: .3125rem;

 margin-bottom: 3.125rem;
 
}
.tasks-text__input::placeholder {
    color: rgba(109, 107, 107, 0.312);
  }
.tasks-text__input:focus {
  outline: none;
}

.tasks-text__input-but{
  cursor: pointer;
  width: 1.8125rem;
  height: 1.6875rem;
  border: none;
  border-radius: 0.3125rem;
  background-color: inherit;
  color: #ABABAB;
  font-size: 2rem;
  font-weight: 500;
}
.pos-but{
  position: relative;
  right: 2.875rem;
  top: .25rem;
  cursor: pointer; 
}
  
.tasks-text__ul{
  width: 100%;
  height: 28.75rem;
  display: flex;
  flex-direction: column;
  gap : 1.875rem;

  overflow-y: scroll;
}



.tasks-text__ul::-webkit-scrollbar {
   padding-inline-start: 0rem;  
}
.tasks-text__li{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.625rem;
  flex-wrap: wrap;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  transition: .6s;
  align-content: center;
}

.tasks-text__li:hover{
  gap:1.2rem;
  box-shadow: gray;
}
.del-position{
position: absolute;
right: -2.5rem;
top: 0rem;
cursor: pointer; 
}

.tasks-text__chek{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;

  /* background-image: url(../public/image/Component5.png);
  background-repeat: no-repeat;
  background-position: center; */
  /* background-image: inherit; */
  appearance: none;

  border: .125rem solid red;
  border-radius: .625rem;
}

.tasks-text__label{
  width: inherit;
  background-color: inherit;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 transition: .5s;
    
}

.tasks-text__label.line{
  text-decoration: line-through;
}
.tasks-text__label-inp{
  width: inherit;
  background-color: inherit;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: .0313rem solid #03030320;
  border-radius: .625rem;
    cursor:text ;
}
.tasks-text__label-inp:focus {
  outline: none;

}

.tasks-text__but{
  padding: .125rem .4375rem ;
  border: none;
  border-radius: .3125rem;
  background-color: rgba(255, 0, 0, 0.118);
  color: #ababab2f;
  
}

.tasks-text__category{
  font-size: 1.2rem;
  background-color: #ababab4a;
  color: #030303db;
  font-weight: 600;
  border-radius: .625rem;
  padding: .125rem .3125rem;
}

.title-tasks{
  display: flex;
  align-items: center;
  gap:.625rem;
  margin-bottom: 1.875rem;

}
.color{
  width: .8125rem;
  height: .8125rem;
  background-color: #ABABAB ;
  border-radius: 50%;

}

.todo-change{
  background-image: url(../public/image/change.png);
  width: 2.25rem;
  height: 1.75rem;
  border: none;
  background-repeat: no-repeat;
  background-color: inherit;
  cursor: pointer; 
}

.todo-change.done{
  background-image: url(../public/image/done.png);
  width: 2.25rem;
  height: 2.25rem;
  border: none;
  background-repeat: no-repeat;
  background-color: inherit;
  background-size: contain;
  cursor: pointer; 
}


.checkbox-false{
  cursor: pointer; 
  width:2rem;
  height: 2rem;
background-image: url(../public/image/false.png);
appearance: none;
background-size: contain;
background-repeat: no-repeat;

}
.checkbox-false.true{
background-image: url(../public/image/true.png);

}


@media (max-width: 800px) {
.wrapper {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
}
.tasks-text {
  width: 100%;
  height: 50vh;
  padding: 0rem;
  overflow-y: scroll;
}
.tasks {
  width: 100%;
  height: 50vh;
  overflow-y: scroll;
  border-right: none;
}
.tasks::-webkit-scrollbar{
  padding-inline-start: 0rem;
}
}